body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
   font-size: 50px; 
   color:aqua;
}
.orenge-color{
    color: orange;
}
.color-pink{
    color: red;
}
.flexible-container{
    display: flex;
    margin-bottom:150px;
}
.half-width{
width: 50%;
padding-left: 10%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(255, 0, 200), rgb(245, 67, 97));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(tr.jpg);
    background-repeat: no-repeat;

}
.expariance{
    background-image:url(corner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
}
.expariance-item{
    width:40% ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
   
}
#full{
    border-left: 10px solid;
  
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#baby{
    border-left: 10px solid;
  
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}